{% extends "fxsimulator/base.html" %}

{% load static %}
{% block head_title%}Lobby{% endblock %}

{% block head%}
<script defer src="https://code.highcharts.com/stock/highstock.js"></script>
<script defer src="https://code.highcharts.com/modules/price-indicator.js"></script>
<script>
    let stock_data = JSON.parse("{{ stock_data }}")
</script>
<script defer src="{% static 'fxsimulator/js/tradelive.js' %}"></script>
<style>
    #container {
        height: 400px;
        min-width: 310px;
    }
</style>
{% endblock%}

{% block body %}
    <div id="container" class="mt-2"> </div>
{% endblock %}