.box-shadow {
    box-shadow: 0 2px 8px rgb(0 0 0 / 0.1);
}

.navbar-brand{
  font-size: 1rem;
  background-color: red;
  padding: .1rem .5rem .2rem .5rem;
  border-radius: .2rem;
}

.custom-logo{
  height: 1rem;
  width: 2.5rem;
}

.nav-link {
    border-left: solid 5px #ffffff;
    font-family: 'Inter', system-ui;
    font-weight: 600;
}

.custom-nav-link-active {
    border-left: solid 5px #5046E5;
    background-color: #EEF2FE;
    color: #5046E5;
}

.custom-navbar-toggler {
    height: 2rem;
    width: 2rem;
    color: #777788;
    & > summary::marker {
        content: none;
    }
}


#custom-navbar-icon-active,
details[open] #custom-navbar-icon {
    display: none;
}

details[open] #custom-navbar-icon-active {
    border-radius: .5rem;
    border: 2px solid #6960ea;
    display: inline-block;
}
