#container {
    height: 400px;
    min-width: 155px;
}

.trade-input{
    border: none;
    outline: none;
}

.trade-input-container{
    color: #eeeeee;
    & > input {
        text-align: center;
        margin: 0 2px 0 2px;
        width: 56%;
    }
    
    & > input:focus{
        outline: 2px solid #cccccf;
    }
    
    & > button{
        width: 20%;
    }
    
    & > *, & > *:active, & >*:focus, & > *:hover {
        color: #222222;
        background-color: #eeeef2;
        border-radius: .3rem;
    }
}

.trade-button-container{
    & > button {
        width: 49%;
        font-weight: bold;
        padding: .8rem 0 .8rem 0;
    }
}
